/*----------------------------------------*/
/*  06. Feature CSS
/*----------------------------------------*/

.single-feature{
    text-align: center;
    &.feature-style-two{
        & .feature-content{
            .title{
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                margin-bottom: 20px;
            }
        }
    }
    & .feature-image{
        margin-bottom: 30px;
    }

    & .feature-content{
        .title{
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 25px;
            font-weight: 600;
        }

        .short-desc{
            font-size: 13px;
            line-height: 23px;
            // Responsive
            @media #{$large-mobile}{
                max-width: 250px;
                margin: auto;
            }
        }
    }
}

.single-service{
    .service-img{
        margin-bottom: 25px;
        // Responsive
        @media #{$large-mobile}{
            margin-bottom: 15px;
        }
        img{
            width: 100%;
        }
    }
    .service-content{
        .title{
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

}